<div class="header">
    <div class="header__links">
        <a href="" class="logo">
            <img src="../../../assets/logo.svg" alt="" class="logo__img">
        </a>

        <a href="#" class="link">Маникюр</a>
        <a href="#" class="link">Педикюр</a>
        <a href="#" class="link">Брови</a>
        <a href="#" class="link">Ресницы</a>
        <a href="#" class="link">Цены</a>
        <a href="#" class="link">О нас</a>
    </div>
    <div class="header__auth">

    </div>
</div>