@import '../../../colors.scss';
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.5rem;
    box-shadow: 0 7px 10px 0 rgba(black, .6);
    background: $pink;
    color: $grey;

    &__links {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

            .logo{
            height: 100px;
            width: 100px;
               


                 &__img{
                    height: 100%;
                     width: 100%;
                     
    }
                }

.link{
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    color: $grey;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

&:first-child{
    margin-left: 1.5rem;
}
&:hover{
    color: rgba($grey, .6);
    text-shadow: 4px 4px 5px  rgba(0,0,0, .6);
}

&_active{
    border-bottom: 3px solid $green;
}

    }
&__auth{
width: 32px;
height: 35px;
background-image: url('../../../assets/user-tie-solid.svg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
cursor: pointer;

}

    
}